nav {
  height: 70px;
  background-color: #002060;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  text-align: right;
}

#homeSec {
  margin-top: 70px;
  height: 100vh;
  min-height: 600px;
  background-color: #fff;
}

#aboutSec #headerSec {
  height: 300px;
  background-color: #002060;
}
#aboutSec #detailSec {
  margin: -60px auto 20px;
  width: 80%;
  border-radius: 5px;
  min-height: 500px;
  box-shadow: 2px 2px 5px gray;
  background-color: #fff;
}

#workSec {
  height: 300px;
  background-color: #002060;
}

body,
html {
  height: 100%;
  margin: 0;
}

nav a {
  position: relative;
  display: inline-block;
  margin: 15px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

/* Effect 14: border switch */
.menu-effect a {
  padding: 0 20px;
  height: 45px;
  line-height: 45px;
}

.menu-effect a::before,
.menu-effect a::after {
  position: absolute;
  width: 45px;
  height: 1px;
  background: #fff;
  content: "";
  opacity: 0.1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}

.menu-effect a::before {
  top: 0;
  left: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
}

.menu-effect a::after {
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.menu-effect a:hover::before,
.menu-effect a:hover::after,
.menu-effect a:focus::before,
.menu-effect a:focus::after {
  opacity: 1;
}

.menu-effect a:hover::before,
.menu-effect a:focus::before {
  left: 50%;
  -webkit-transform: rotate(0deg) translateX(-50%);
  -moz-transform: rotate(0deg) translateX(-50%);
  transform: rotate(0deg) translateX(-50%);
}

.menu-effect a:hover::after,
.menu-effect a:focus::after {
  right: 50%;
  -webkit-transform: rotate(0deg) translateX(50%);
  -moz-transform: rotate(0deg) translateX(50%);
  transform: rotate(0deg) translateX(50%);
}

/* flexbox style */
.flexmargin {
  margin-bottom: 20px;
}

.flexwrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flexrow {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flexrow-stretch {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  height: 100%;
}

.flexcol {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.flexleft {
  display: flex;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  justify-content: flex-start;
  height: 100%;
}

.flexright {
  display: flex;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  justify-content: flex-end;
}

.flexcenter {
  display: flex;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  justify-content: center;
}

.flextab {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.flexstretch {
  display: flex;
  flex-grow: 4;
}

/* end flexbox */
.background-img {
  background: linear-gradient(-45deg, #002060, #fff, #002060);
  background-size: 400% 400%;
  -webkit-animation: gradient-background 5s ease infinite;
  -moz-animation: gradient-background 5s ease infinite;
  animation: gradient-background 5s ease infinite;
}

@-webkit-keyframes gradient-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*# sourceMappingURL=assets/css/styles.css.map */
